<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Select map
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  {{#each model as |mymap|}}
  <li>
    {{#link-to "mapview.map" mymap.id}}
      {{mymap.name}}
    {{/link-to}}
  </li>
  {{/each}}
  </ul>
</div>

{{#each selected as |num|}}
{{num}}
{{/each}}

{{outlet}}
